<!DOCTYPE html>
<html>
<head>
  <title>Alone Bot</title>
  <link rel="stylesheet" type="text/css" href="/static/index/style.css">  
  <link rel="alternate" type="application/json+oembed" href="/static/oembed.json" title="oEmbed Profile">
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body style="background-color: #292c35; font-family: Arial, sans-serif;">
  <header>
    <a href="/" id="logo">Alone Bot</a>
    <nav>
      <a href="/">Home</a>
      <a href="https://discord.com/api/oauth2/authorize?client_id=784545186612510811&permissions=67439680&scope=bot" id="invite">Invite</a>
      <a href="https://discord.com/invite/cCvcQKxg6T">Support</a>
      <a id="login">Login with Discord</a>
    </nav>
  </header>
</body>
</html>
